<ng-container *ngIf="_author">
    <div class="author">
        <div class="author-image" *ngIf="_authorImage">
            <img [src]="_authorImage" />
        </div>
        <div class="author-about">
            <h1>{{_author.firstName}} {{_author.lastName}}</h1>
            <md [value]="_author.about"></md>
            <p>
                <ng-container *ngIf="_author.socialHandles.linkedIn">
                    <img src="/assets/linkedin.png" width="20" />
                    <a [href]="_author.socialHandles.linkedIn" target="_blank">LinkedIn</a>
                </ng-container>
                <ng-container *ngIf="_author.socialHandles.gitHub">
                    <img src="/assets/github.png" class="icon" width="20" />
                    <a [href]="_author.socialHandles.gitHub" target="_blank">GitHub</a>
                </ng-container>
                <ng-container *ngIf="_author.resumeUri">
                    <img src="/assets/download.png" class="icon" width="20" />
                    <a [href]="_author.resumeUri" target="_blank" class="resume-link-desktop">Download resume</a>
                    <a [href]="_author.resumeUri" target="_blank" class="resume-link-mobile">Resume</a>
                </ng-container>
            </p>
        </div>
    </div>
    <h2>My technology stack</h2>
    <ul class="experiences">
        <li *ngFor="let experience of _experiences">
            <img [src]="experience.uri" [style.background-color]="experience.backgroundColor" />
            <p>{{experience.name}}</p>
        </li>
    </ul>
</ng-container>