<div class="post">
    <div class="info">
        {{_blogPost.date | date}} by
        <a>{{_blogPost.authorName}}</a>
    </div>
    <div class="image">
        <a routerLink="/post/{{_blogPost.id}}/{{_blogPost.subjectUrl}}" *ngIf="_imageUrl">
            <img [src]="_imageUrl" />
        </a>
    </div>
    <div class="text">
        <a routerLink="/post/{{_blogPost.id}}/{{_blogPost.subjectUrl}}">{{_blogPost.subject}}</a>
        <p>
            <md [value]="_blogPost.contentIntro"></md>
        </p>
    </div>
</div>