<app-admin-menu></app-admin-menu>
<div class="admin-content">
    <h1>Add blog</h1>
    <form [formGroup]="blogForm" (ngSubmit)="onSubmit()">
        <label for="subject">Subject</label>
        <p>
            <input formControlName="subject" id="subject" [ngClass]="inputCssClass('subject')" />
        </p>
        <label for="contentIntro">Content intro:</label>
        <p>
            <textarea formControlName="contentIntro" id="contentIntro" [ngClass]="inputCssClass('contentIntro')"></textarea>
        </p>
        <label for="content">Content:</label>
        <p>
            <textarea formControlName="content" id="content" [ngClass]="inputCssClass('content')"></textarea>
        </p>
        <label for="tag">Tags</label>
        <p>
            <textarea formControlName="tags" id="tags" [ngClass]="inputCssClass('tags')"></textarea>
        </p>
        <label for="photo">Photo</label>
        <p>
            <input type="file" id="file" (change)="setFile($event.target)" />
        </p>
        <input type="submit" value="save" />
    </form>
</div>